{
    "vzFilter": {
        "attributes": {
            "annotation": "",
            "descr": "",
            "name": "{{ FILTER_NAME }}",
            "userdom": ":all:"
        },
        "children": [
            {% for ITEM in ITEMS %}
            {{ ITEM|indent(12) }}{{ "," if not loop.last }}
            {% endfor %}
        ]
    }
}