{
    "vzSubj": {
        "attributes": {
            "annotation": "",
            "consMatchT": "AtleastOne",
            "descr": "{{ SUBJECT_DESCRIPTION }}",
            "name": "{{ SUBJECT_NAME }}",
            "nameAlias": "",
            "revFltPorts": "no"
        },
        "children": [
            {
                "vzInTerm": {
                    "attributes": {
                    },
                    "children": [
                        {
                            "vzRsFiltAtt": {
                                "attributes": {
                                    "action": "{{ ACTION }}",
                                    "tnVzFilterName": "{{ FILTER_NAME }}"
                                }
                            }
                        }
                    ]
                }
            }
        ]
    }
}