{
    "totalCount": "1",
    "imdata": [
        {
            "fvTenant": {
                "attributes": {
                },
                "children": [
                    {% for CHILD in CHILDREN %}
                    {{ CHILD|indent(20) }}{{ "," if not loop.last }}
                    {% endfor %}
                ]
            }
        }
    ]
}