{
    "totalCount": "1",
    "imdata": [
        {
            "vzBrCP": {
                "attributes": {
                },
                "children": [
                    {
                        "vzSubj": {
                            "attributes": {
                                "annotation": "",
                                "consMatchT": "AtleastOne",
                                "descr": "",
                                "name": "testsub6",
                                "nameAlias": "",
                                "prio": "unspecified",
                                "provMatchT": "AtleastOne",
                                "revFltPorts": "yes",
                                "targetDscp": "unspecified",
                                "userdom": ":all:"
                            }
                        }
                    }
                ]
            }
        }
    ]
}