{
    "vzFilter": {
        "attributes": {
            "annotation": "",
            "descr": "",
            "name": "{{FILTER_NAME}}",
            "userdom": ":all:"
        },
        "children": [
            {
                "vzEntry": {
                    "attributes": {
                        "annotation": "",
                        "dFromPort": "{{DST_PORT_FROM}}",
                        "dToPort": "{{DST_PORT_TO}}",
                        "descr": "",
                        "etherT": "ipv4",
                        "name": "rule1",
                        "nameAlias": "",
                        "prot": "{{PROTOCOL}}",
                        "sFromPort": "{{SRC_PORT_FROM}}",
                        "sToPort": "{{SRC_PORT_TO}}",
                        "stateful": "no",
                        "tcpRules": ""
                    }
                }
            }
        ]
    }
}