{
    "totalCount": "1",
    "imdata": [
        {
            "vzBrCP": {
                "attributes": {},
                "children": [
                    {
                        "vzSubj": {
                            "attributes": {
                                "annotation": "",
                                "consMatchT": "AtleastOne",
                                "descr": "",
                                "name": "{{SUBJECT_NAME}}",
                                "nameAlias": "",
                                "revFltPorts": "yes",
                                "userdom": ":all:"
                            },
                            "children": [
                                {
                                    "vzInTerm": {
                                        "attributes": {
                                            "annotation": "",
                                            "descr": "descr1",
                                            "name": "name1",
                                            "nameAlias": ""
                                        },
                                        "children": [
                                            {
                                                "vzRsFiltAtt": {
                                                    "attributes": {
                                                        "action": "{{ACTION}}",
                                                        "tnVzFilterName": "{{FILTER_NAME}}"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        }
    ]
}