{
    "totalCount": "1",
    "imdata": [
        {
            "fvAEPg": {
                "attributes": {
                },
                "children": [
                    {
                        "fvRsCons": {
                            "attributes": {
                                "annotation": "",
                                "intent": "install",
                                "prio": "unspecified",
                                "tnVzBrCPName": "my-contract",
                                "userdom": ":all:"
                            }
                        }
                    }
                ]
            }
        }
    ]
}