{
    "totalCount": "1",
    "imdata": [
        {
            "fvTenant": {
                "attributes": {
                },
                "children": [
                    {
                        "vzBrCP": {
                            "attributes": {
                                "annotation": "",
                                "descr": "",
                                "intent": "install",
                                "name": "contract3",
                                "nameAlias": "",
                                "ownerKey": "",
                                "ownerTag": "",
                                "prio": "unspecified",
                                "scope": "context",
                                "targetDscp": "unspecified",
                                "userdom": ":all:"
                            },
                            "children": [
                                {
                                    "vzSubj": {
                                        "attributes": {
                                            "annotation": "",
                                            "consMatchT": "AtleastOne",
                                            "descr": "",
                                            "name": "subject2",
                                            "nameAlias": "",
                                            "prio": "unspecified",
                                            "provMatchT": "AtleastOne",
                                            "revFltPorts": "yes",
                                            "targetDscp": "unspecified",
                                            "userdom": ":all:"
                                        },
                                        "children": [
                                            {
                                                "vzRsSubjFiltAtt": {
                                                    "attributes": {
                                                        "action": "permit",
                                                        "annotation": "",
                                                        "directives": "",
                                                        "priorityOverride": "default",
                                                        "tnVzFilterName": "icmp",
                                                        "userdom": ":all:"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        }
    ]
}