{
    "totalCount": "1",
    "imdata": [
        {
            "fvTenant": {
                "attributes": {
                },
                "children": [
                    {
                        "vzFilter": {
                            "attributes": {
                                "annotation": "",
                                "descr": "",
                                "name": "my-filter2",
                                "nameAlias": "",
                                "ownerKey": "",
                                "ownerTag": "",
                                "userdom": ":all:"
                            },
                            "children": [
                                {
                                    "vzEntry": {
                                        "attributes": {
                                            "annotation": "",
                                            "applyToFrag": "no",
                                            "arpOpc": "unspecified",
                                            "dFromPort": "https",
                                            "dToPort": "https",
                                            "descr": "",
                                            "etherT": "ipv4",
                                            "icmpv4T": "unspecified",
                                            "icmpv6T": "unspecified",
                                            "matchDscp": "unspecified",
                                            "name": "actual-filter",
                                            "nameAlias": "",
                                            "prot": "tcp",
                                            "sFromPort": "unspecified",
                                            "sToPort": "unspecified",
                                            "stateful": "no",
                                            "tcpRules": "",
                                            "userdom": ":all:"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        }
    ]
}