{
    "totalCount": "1",
    "imdata": [
        {
            "vzBrCP": {
                "attributes": {
                    "name": "{{ CONTRACT_NAME }}",
                    "scope": "tenant"
                },
                "children": [
                    {% for ITEM in ITEMS %}
                    {{ ITEM|indent(20) }}{{ "," if not loop.last }}
                    {% endfor %}
                ]
            }
        }
    ]
}